.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-right: 3rem;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 640px) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    color: var(--gray-700);
    font-weight: 900;
    text-decoration: none;

    &:hover {
      color: var(--light-gray);
    }

    &--selected {
      color: var(--primary);
    }
  }
}
