@import "../includes/_vars.scss";

.star {
  color: var(--star-gray);
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: transform .3s ease-in-out;
  z-index: 3;

  &--active {
    color: #FFC726;
  }

  &:hover {
    transform: scale(1.7);
  }
}
